.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px rgb(60, 60, 60) solid;
}

.header > div:first-child {
  margin-right: auto;
}

.header > div:last-child {
  margin-left: auto;
}
