.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1px; 
  }
  
  .leftsection {
    border-right: 1px solid #ccc;
    padding-right: 1px; 
  }
  
  .rightsection {
    padding-left: 1px; 
  
  }
  
  @media only screen and (max-width: 768px) {
    .main {
      width: 100%;
    }
    
    .leftsection, .rightsection {
      width: 100%;
      margin: 0.5rem 0;
    }
  }
  